#root {
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}